* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #777777;
    overflow: hidden;
}

.header {
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(250, 250, 250, 0.7)), url('images/cliff.jpg');
    height: 95vh;
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); 
    margin: 2rem;
}

h1 {
    font-size: 3rem;
    letter-spacing: 1em;
    color: white;
    border: 1px solid black;
    letter-spacing: 1.6rem;

    position: absolute;
    top: 40%;
    left: 50%;
    white-space: nowrap; /*les passages à la ligne automatiques sont supprimés lorqu'on retrecie l'écran*/
    transform: translate(-50%, -100%);
}

h2  {
    font-size: 1rem;
    letter-spacing: 1rem;
    color: white;
    position: absolute;
    background-color: black;

    top: 46%;
    left:50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}