* {
}

body {
    overflow: hidden;
}

.header {
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); 
}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    white-space: nowrap; /*les passages à la ligne automatiques sont supprimés lorqu'on retrecie l'écran*/
    transform: translate(-50%, -100%); /* Permet de déplacer un élément sur le plan représenté par le document grâce à un vecteur */
}

h2  {
    position: absolute;
    top: 46%;
    left:50%;
    white-space: nowrap; /*les passages à la ligne automatiques sont supprimés lorqu'on retrecie l'écran*/
    transform: translate(-50%, -50%); /* Permet de déplacer un élément sur le plan représenté par le document grâce à un vecteur */
}