* {
}

body {
    overflow: hidden;
}

.header {
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); 
}

h1 {
    font-size: 3rem;
    letter-spacing: 1em;
    color: white;
    border: 1px solid black;
    letter-spacing: 1.6rem;

    position: absolute;
    top: 40%;
    left: 50%;
    white-space: nowrap; /*les passages à la ligne automatique sont supprimés lorsqu'on retrecie l'écran*/
    transform: translate(-50%, -100%);
}

h2  {
    position: absolute;
    top: 46%;
    left:50%;
    white-space: nowrap; /*les passages à la ligne automatique sont supprimés lorsqu'on retrecie l'écran*/
    transform: translate(-50%, -50%);
}